* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
}

